html {
  overflow: auto;
}

body {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  overflow: auto;
  margin: 0;
  background-color: #21201E;
  letter-spacing: 1px;
  color: #FFF
}

button {
  outline-style: none;
}

#landing {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.4em;
  margin-top: 20vh;
}

#start-button {
  display: none;
  width: 200px;
  height: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.8em;
}

#main {
  display: flex;
}

h1 {
  margin: 0;
  color: #FDB511;
}

h2 {
  font-size: 1em;
  color: #FFFFFF;
}

button {
  border: none;
  font-weight: 800;
  color: #FDB511;
  background-color: #4d4c4a;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  background-color: #636261;
}

#first-warning {
  color: black;
  position: fixed;
  width: 50vw;
  height: 15vh;
  left: 25vw;
  top: 300px;
  background-color: white;
  border: 1px solid black;
  font-size: 1.8em;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#warning {
  color: black;
  position: fixed;
  width: 50vw;
  height: 30vh;
  left: 25vw;
  top: 300px;
  background-color: white;
  border: 1px solid black;
  font-size: 1.8em;
  padding: 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
}

#header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #21201E;
}

#counter {
  font-size: 3em;
  font-weight: 800;
}

#videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

#remoteVideoDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  background-color: black;
}

#localVideoDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 40vw;
  height: 100%;
}

#trackingVideo {
  max-width: 100%;
  width: 40vw;
  height: calc((40vw/4) * 3);
}

#remoteVideo {
  max-width: 100%;
  width: 60vw;
  height: calc((60vw/4) * 3);
}

#text-area {
  width: 40vw;
  box-sizing: border-box;
  height: calc(((60vw/4) * 3) - ((40vw/4) * 3) - 70px);
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-size: 1.4em;
  outline-style: none;
  border: none;
  color: #FFF;
  padding: 10px;
  background-color: #797978;
}

#submit {
  width: 40vw;
  height: 70px;
  font-size: 1.2em;
  cursor: pointer;
}

#reroll {
  width: 20vw;
  height: 30px;
  font-size: 1em;
  cursor: pointer;
}

#text-from {
  width: 100vw;
  height: calc(100vh - (((60vw/4) * 3) + 11vh));
  background-color: #21201E;
  font-size: 1.4em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
}

.text-line {
  background-color: #21201E;
  width: 98vw;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #FFF;
}

em {
    color: #AAAAAA;
}

.you-text {
  font-weight: 800;
  color: #FDB511;
}

.them-text {
  font-weight: 800;
  color: #FFF;
}
